@import "tailwindcss";



@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Righteous-Regular.woff2') format('woff2');
}

.righteous-font {
  font-family: 'Righteous', cursive;
}




body {
    background: #1E1E1E;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}


/* Base styles (mobile first) */
.box {
  margin:  20px;
  padding: 20px;
  border-radius: 4px;
  background-color: #2B2E32;
}

/* Tablet (768px and up) */
@media (min-width: 768px) {
  .box {
    margin: 24px;
    padding: 24px;
  }
}

/* Laptop (1024px and up) */
@media (min-width: 1024px) {
  .box {
    margin:  32px;
    padding: 32px;
  }
}

/* Desktop (1280px and up) */
@media (min-width: 1280px) {
  .box {
    margin: 32px;
    padding: 40px;
  }
}





